/* Global style */
body {
    margin: 0;
    width: 100%;
    text-align: center;
}

p {
    font-family: 'Montserrat', 'sans serif';
    margin: 0 10px 10px 10px;
    font-weight: 700;
}

h1 {
    font-family: 'Press Start 2p', 'sans serif';
    margin: 0;
}

.logo {
    margin: 0.9em 0.9em 0 0.9em;
}

h2 {
    margin: 4px 0;
}

button {
    font-weight: 700;
}
/* feedback form */
form div, button {
    margin: 0.3em;
}


/* control area */
#control-area {
    margin-top: 1em;
}
.control-buttons {
    border-radius: 0.2em;
    padding: 0.45em 0.9em;
    margin: 0.3em;
    font-weight: 700;
    font-family: 'Montserrat', 'sans serif';
    font-size: 15px;
    width: 160px;
}

/* Rounds area */
#round-area p {
    margin: 0;
}

/* Game area */
#board-area {
    text-align: center;
    background-color: black;
    margin-top: 0.3em;
    padding: 0.5em 0.2em;
}

.board-button {
    display: inline-block;
    width: 150px;
    height: 150px;
}

#option1 {
    background-color: yellow;
    border-top-left-radius: 100%;
}


#option2 {
    background-color: blue;
    border-top-right-radius: 100%;
}

#option3 {
    background-color: green;
    border-bottom-left-radius: 100%;
}

#option4 {
    background-color: red;
    border-bottom-right-radius: 100%;
}

/* Winning message */
#win-image {
    width: 100%;
}

#restart-button {
    border-radius: 0.2em;
    padding: 0.45em 0.9em;
    margin: 0.3em;
    font-weight: 400;
    font-family: 'Montserrat', 'sans serif';
    font-size: 15px;
    width: 160px;
}

/* Make responsive for "very" small screens */
@media only screen and (min-width: 320px) {
/* logo area */
h1 {
    font-size: 30px;
}
/* Controls area */
.control-buttons {
    font-size: 13px;  
}
#control-area {
    margin-top: 5px;
}

/* Game board area */
.board-button {
    width: 140px;
    height: 140px;
}

/* Rounds area */
#round-area p { 
    margin-bottom: 5px;
    font-size: 13px;
}

#round-area p:nth-child(2) {
    display: none;
}

/* Game area */
#board-area {
    padding: 6 0;
}
}

/* make responsive for wider screens */
@media only screen and (min-width: 765px) {
    /* All page */
    body {
        background: url('https://raw.githubusercontent.com/MarcelloMuy/ci-milestone-p2/master/assets/images/gif-image.gif') center;
        background-size: cover;
    }

    #game-container {
        background-color: white;
        height: 100%;
        width: 70%;
        margin: auto

    }
    /* logo area */

    .logo {
        margin-top: 0;
        padding-top: 20px;
    }
    h1 {
        font-size: 50px;
    }
    /* Controls area */
    #control-area{
        margin-top: 35
    }

    .control-buttons {
        font-size: 25px;
        width: 220px;  
    }

    /* Game board area */
    .board-button {
        width: 245px;
        height: 245px;
    }

    #board-area {
        padding: 37 0;
    }

    /* Rounds area */
    #round-area p {
        margin-bottom: 20px;
        margin-top: 50px;
        font-size: 25px;
    }

    #round-area p:nth-child(2) {
        display: none;
    }
}

/* Make responsive for larger mobile phones */
@media (min-width: 375px) and (max-width: 425px) {
    /* logo */
    h1 {
        font-size : 35px;
    }
    .logo {
        margin-top: 0;
        padding-top: 25px;
    }

    /* Game board area */
    .board-button {
        width: 182px;
        height: 182px;
    }  
    /* Controls area  */
    #instructions-div {
        margin-top: 30px;
    }

    .control-buttons {
        font-size: 20px;
        width: 220px;  
    }
    /* Game area */
    #board-area {
        padding: 37 0;
    }
        
    /* Rounds area */
    #round-area p {
        margin-bottom: 10px;
        margin-top: 25px;
        font-size: 20px;
    }
    
    #round-area p:nth-child(2) {
        display: none;
    }
}

/* Make responsive for larger mobile phones with different height */
@media (min-height: 660px) and (max-height: 700px)  {
    .logo {
        margin-top: 0;
        padding-top: 18px;
    }
    /* Controls area  */
    #instructions-div {
        margin-top: 0;
    }

/* control buttons */
    .control-buttons {
        font-size: 16px;
        width: 220px;  
    }

    /* Rounds area */
    #round-area p {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 15px;
    }
    
    #round-area p:nth-child(2) {
        display: none;
    }

    /* Game area */
    #board-area {
        padding: 10px 0;
    }

}

/* Make responsive for laptops */
@media (min-width: 1200px) and (max-width: 1500px)  {
    #game-container {
        width: 50%
    }
    .logo {
        margin-top: 0;
        padding-top: 18px;
    }
    /* Controls area  */
    #instructions-div {
        margin-top: 0;
    }
    #control-area {
        margin: 12px;
    }

/* control buttons */
    .control-buttons {
        font-size: 20px;
        width: 300px;  
    }

    /* Rounds area */
    #round-area p {
        margin-bottom: 10px;
        margin-top: 2px;
        font-size: 20px;
    }
    
    #round-area p:nth-child(2) {
        display: none;
    }

    /* Game area */
    #board-area {
        padding: 10px 0;
    }

} 
/* Media queries for very large screens */
@media (min-width: 1500px) and (max-width: 1700px)  {
    #game-container {
        width: 50%
    }
    /* control buttons */
    .control-buttons {
        font-size: 29px;
        width: 350px;  
    }
     /* Rounds area */
    #round-area p {
        margin-bottom: 15px;
        font-size: 25px;
    }
    #round-area p:nth-child(2) {
        display: none;
    }
}
  

  
    
