/* Global style */
body {
    margin: 0;
    width: 100%;
    text-align: center;
}

p {
    font-family: 'Montserrat', 'sans serif';
    margin: 0 10px 10px 10px;
}

h1 {
    font-family: 'Press Start 2p', 'sans serif';
    margin: 0;
}

.logo {
    margin: 0.9em 0.9em 0 0.9em;
}

/* feedback form */
form div, button {
    margin: 0.3em;
}


/* control area */
#control-area {
    margin-top: 1em;
}
.control-buttons {
    border-radius: 0.2em;
    padding: 0.45em 0.9em;
    margin: 0.3em;
    font-weight: 400;
    font-family: 'Montserrat', 'sans serif';
    font-size: 12px;
}

/* Rounds counter area */

#round-area {
    margin-top: 1.5em;
}

/* Game area */
#board-area {
    text-align: center;
    background-color: black;
    margin-top: 0.3em;
    padding: 0.5em 0.2em;
}

.board-button {
    display: inline-block;
    width: 150px;
    height: 150px;
}

#option1 {
    background-color: yellow;
    border-top-left-radius: 100%;
}


#option2 {
    background-color: blue;
    border-top-right-radius: 100%;
}

#option3 {
    background-color: green;
    border-bottom-left-radius: 100%;
}

#option4 {
    background-color: red;
    border-bottom-right-radius: 100%;
}


